.product-page .image-wrapper {
    width: 500px;
    height: 500px;
}

.product-page .image-wrapper img {
    height: 100%;
    box-shadow: grey 1px 2px 5px;
}

@media (max-width: 768px) {
    .product-page .image-wrapper {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        height: auto;
        /* justify-content: start; */
    }

    .product-page .image-wrapper img {
        width: 100%;
        height: auto;
    }

    .product-page .product-info {
        flex-direction: column;
    }

    .product-page .product-details {
        margin-top: 1.5rem;
    }

    .product-page-product-name{
        margin-top: 5px;
        margin-bottom: 20px;
        margin-left: 5%;
    }
}